.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#hoverCircle {
    position: absolute;
    height: 350px;
    width: 350px;
    background: #121FCF;
    background: radial-gradient(circle, rgba(18, 31, 207, 1) 0%, rgba(207, 21, 18, 1) 100%);
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 100ms ease-in-out;
    left: 100px;
    top: 50%;
    mix-blend-mode: difference;
    backdrop-filter: invert();
    opacity: 1;
}
.text {
    max-width: 750px;
    mix-blend-mode: exclusion;
}
.text h1 {
    text-align: center;
    font-size: 6rem;
}